@charset "utf-8";
/* Reset */
html {
    overflow-y: hidden;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding: 0; 
    font-size: 14px;
    color: #fff;
    height: 100%;
    font-family: 'DM Serif Text', serif;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 400;
}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block
}
header ul, nav ul, footer ul, figure {
    margin: 0;
    padding: 0;
    list-style: none;
}
legend {
    position: absolute;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden
}
label, input, button, select, img {
    vertical-align: middle
}
input, button {
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
}
button,input[type=button],input[type=submit]{
    cursor: pointer;
}
input[type=text], input[type=password], input[type=submit], input[type=image], button {
    border-radius: 0;
    -webkit-appearance: none;
}
textarea {
    border-radius: 0;
    -webkit-appearance: none; 
    resize: none;
}
p {
    margin: 0;
    padding: 0;
    word-break: break-all;
}
pre {
    overflow-x: scroll;
    font-size: 1.1em;
}
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
input, button, textarea, select {
    font-family: 'Noto Sans KR', sans-serif; outline: none
}
button {
    background: none; 
    border: none;
}

/*사파리 버튼 초기화*/
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], textarea { 
    -webkit-appearance: none; 
    -webkit-border-radius: 0; 
}